@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <div id="mycalendar">
                <div class="mycalendar-header">
                    <button class="mycalendar-left"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <strong><span class="mycalendar-month">Ağustos</span> <span class="mycalendar-year">2018</span></strong>
                    <button class="mycalendar-right"><i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>
                <div class="mycalendar-body">
                    <div id="weekofdays" class="mycalendar-days">
                        @*<div class="mycalendar-day">Pzrts</div>
                        <div class="mycalendar-day">Salı</div>
                        <div class="mycalendar-day">Çrşmb</div>
                        <div class="mycalendar-day">Prşmb</div>
                        <div class="mycalendar-day">Cuma</div>
                        <div class="mycalendar-day">Cmrts</div>
                        <div class="mycalendar-day">Pazar</div>*@
                    </div>
                    @*<div class="mycalendar-week">
                        <div class="numberday">30</div>
                        <div class="numberday">31</div>
                        <div class="numberday">1</div>
                        <div class="numberday">2</div>
                        <div class="numberday">3</div>
                        <div class="numberday">4</div>
                        <div class="numberday">5</div>
                    </div>
                    <div class="mycalendar-week">
                        <div class="numberday">6</div>
                        <div class="numberday">7</div>
                        <div class="numberday">8</div>
                        <div class="numberday">9</div>
                        <div class="numberday">10</div>
                        <div class="numberday today">11</div>
                        <div class="numberday">12</div>
                    </div>
                    <div class="mycalendar-week">
                        <div class="numberday">13</div>
                        <div class="numberday">14</div>
                        <div class="numberday">15</div>
                        <div class="numberday">16</div>
                        <div class="numberday">17</div>
                        <div class="numberday">18</div>
                        <div class="numberday">19</div>
                    </div>
                    <div class="mycalendar-week">
                        <div class="numberday">20</div>
                        <div class="numberday">21</div>
                        <div class="numberday">22</div>
                        <div class="numberday">23</div>
                        <div class="numberday">24</div>
                        <div class="numberday">25</div>
                        <div class="numberday">26</div>
                    </div>
                    <div class="mycalendar-week">
                        <div class="numberday">27</div>
                        <div class="numberday">28</div>
                        <div class="numberday">29</div>
                        <div class="numberday">30</div>
                        <div class="numberday">31</div>
                        <div class="numberday">1</div>
                        <div class="numberday">2</div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>